# Transforming Data

## Reading the data (sample)

In [261]:
#Reading the Data
#Creating Data Frame

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO
import re

predf = open('1689.csv').read()

In [262]:
predf

'\ufeffThis document was exported from the paperMoneyÂ® platform which provides a simulated trading environment. All data contained herein is for educational and entertainment purposes only. TD Ameritrade its subsidiaries and/or affiliates are not responsible for the accuracy of any of these exported data.\n\nthinkBack: Stock quote and option quote for SPY on 8/27/20 23:59:59\n\nUNDERLYING\nLast,Net Chng,Volume,Open,High,Low\n348.33,+.76,"58,034,142",348.51,349.90,346.53\n\n28 AUG 20  (1)  100 (Weeklys)\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,"37,715","17,786",2.34,2.39,28 AUG 20,347,.77,.79,"139,681","12,664",,\n,,"103,279","18,422",1.65,1.68,28 AUG 20,348,1.07,1.10,"127,223","5,648",,\n,,"164,013","19,097",1.10,1.11,28 AUG 20,349,1.50,1.54,"93,045","1,367",,\n,,"208,464","20,152",.67,.69,28 AUG 20,350,2.07,2.11,"40,913","1,284",,\n\n31 AUG 20  (4)  100 (Weeklys)\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,"6,421","5,271",3.00,3.05,31 AUG 20,347,1.42,1.45,"13,286","1,910",,\n,,"25,953","3,398",2.36,2.40,31 AUG 20,348,1.77,1.81,"15,439","1,359",,\n,,"26,589","2,167",1.80,1.83,31 AUG 20,349,2.21,2.25,"18,244",372,,\n,,"59,678","11,038",1.32,1.35,31 AUG 20,350,2.72,2.78,"8,064",572,,\n\n2 SEP 20  (6)  100 (Weeklys)\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,"3,705","3,561",3.73,3.77,2 SEP 20,347,2.14,2.17,"8,625","1,519",,\n,,"13,236","2,045",3.10,3.13,2 SEP 20,348,2.51,2.55,"10,440",759,,\n,,"9,163","2,486",2.53,2.57,2 SEP 20,349,2.93,2.99,"10,685",716,,\n,,"8,688","2,414",2.03,2.06,2 SEP 20,350,3.44,3.49,"1,991",189,,\n\n4 SEP 20  (8)  100 (Weeklys)\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,"5,668","6,534",4.41,4.47,4 SEP 20,347,2.82,2.86,"7,532","2,464",,\n,,"6,559","2,145",3.79,3.83,4 SEP 20,348,3.18,3.23,"10,717","1,324",,\n,,"11,750","7,031",3.21,3.25,4 SEP 20,349,3.60,3.65,"8,024",537,,\n,,"17,509","16,704",2.68,2.70,4 SEP 20,350,4.07,4.13,"6,921","1,196",,\n\n8 SEP 20  (12)  100\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,"1,176","1,214",4.87,4.93,8 SEP 20,347,3.26,3.32,"1,281",474,,\n,,"1,288","1,342",4.24,4.30,8 SEP 20,348,3.63,3.70,"1,262",198,,\n,,"2,234","2,052",3.66,3.72,8 SEP 20,349,4.05,4.12,866,82,,\n,,"4,386","3,053",3.12,3.18,8 SEP 20,350,4.51,4.59,"1,833",146,,\n\n9 SEP 20  (13)  100 (Weeklys)\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,187,188,5.16,5.22,9 SEP 20,347,3.55,3.61,343,310,,\n,,221,357,4.53,4.58,9 SEP 20,348,3.92,3.98,347,256,,\n,,389,657,3.94,4.00,9 SEP 20,349,4.33,4.39,301,125,,\n,,867,911,3.40,3.45,9 SEP 20,350,4.78,4.85,282,266,,\n\n11 SEP 20  (15)  100 (Weeklys)\n,,Volume,Open.Int,Bid,Ask,Exp,Strike,Bid,Ask,Volume,Open.Int,,\n,,623,"4,295",5.72,5.77,11 SEP 20,347,4.10,4.16,"7,909","1,384",,\n,,"1,237","7,065",5.09,5.14,11 SEP 20,348,4.47,4.53,"2,115","1,435",,\n,,"2,130","2,744",4.49,4.54,11 SEP 20,349,4.87,4.93,"5,035",853,,\n,,"3,286","12,781",3.94,3.99,11 SEP 20,350,5.31,5.38,"2,744",631,,\n'

## Splittng the data

In [263]:
predf = predf.split('\n\n')
df2 = predf[2:3]
predf = predf[3:]
fef = [] 
for i in range(len(predf)):
    predf[i] = predf[i].split('\n')[2:]
    fef += predf[i]

In [264]:
df_ = StringIO('\n'.join(fef))
df = pd.read_csv(df_, header = None)
df = df.drop(columns=[0,1,12,13])

## Final Data

In [268]:
df.rename(columns ={ 2:'C Volume', 3:'C Open Int', 4:'C Bid',5:'C Ask',6:'Expiration',7:'Strike',8:'P Bid',9:'P Ask',10:'P Volume',11:'P Open Int'})

,C Volume,C Open Int,C Bid,C Ask,Expiration,Strike,P Bid,P Ask,P Volume,P Open Int
0,"37,715","17,786",2.34,2.39,28 AUG 20,347,0.77,0.79,"139,681","12,664"
1,"103,279","18,422",1.65,1.68,28 AUG 20,348,1.07,1.10,"127,223","5,648"
2,"164,013","19,097",1.10,1.11,28 AUG 20,349,1.50,1.54,"93,045","1,367"
3,"208,464","20,152",0.67,0.69,28 AUG 20,350,2.07,2.11,"40,913","1,284"
4,"6,421","5,271",3.00,3.05,31 AUG 20,347,1.42,1.45,"13,286","1,910"
5,"25,953","3,398",2.36,2.40,31 AUG 20,348,1.77,1.81,"15,439","1,359"
6,"26,589","2,167",1.80,1.83,31 AUG 20,349,2.21,2.25,"18,244",372
7,"59,678","11,038",1.32,1.35,31 AUG 20,350,2.72,2.78,"8,064",572
8,"3,705","3,561",3.73,3.77,2 SEP 20,347,2.14,2.17,"8,625","1,519"
9,"13,236","2,045",3.10,3.13,2 SEP 20,348,2.51,2.55,"10,440",759
10,"9,163","2,486",2.53,2.57,2 SEP 20,349,2.93,2.99,"10,685",716
11,"8,688","2,414",2.03,2.06,2 SEP 20,350,3.44,3.49,"1,991",189
12,"5,668","6,534",4.41,4.47,4 SEP 20,347,2.82,2.86,"7,532","2,464"
13,"6,559","2,145",3.79,3.83,4 SEP 20,348,3.18,3.23,"10,717","1,324"
14,"11,750","7,031",3.21,3.25,4 SEP 20,349,3.60,3.65,"8,024",537
15,"17,509","16,704",2.68,2.70,4 SEP 20,350,4.07,4.13,"6,921","1,196"
16,"1,176","1,214",4.87,4.93,8 SEP 20,347,3.26,3.32,"1,281",474
17,"1,288","1,342",4.24,4.30,8 SEP 20,348,3.63,3.70,"1,262",198
18,"2,234","2,052",3.66,3.72,8 SEP 20,349,4.05,4.12,866,82
19,"4,386","3,053",3.12,3.18,8 SEP 20,350,4.51,4.59,"1,833",146
20,187,188,5.16,5.22,9 SEP 20,347,3.55,3.61,343,310
21,221,357,4.53,4.58,9 SEP 20,348,3.92,3.98,347,256
22,389,657,3.94,4.00,9 SEP 20,349,4.33,4.39,301,125
23,867,911,3.40,3.45,9 SEP 20,350,4.78,4.85,282,266
24,623,"4,295",5.72,5.77,11 SEP 20,347,4.10,4.16,"7,909","1,384"
25,"1,237","7,065",5.09,5.14,11 SEP 20,348,4.47,4.53,"2,115","1,435"
26,"2,130","2,744",4.49,4.54,11 SEP 20,349,4.87,4.93,"5,035",853
27,"3,286","12,781",3.94,3.99,11 SEP 20,350,5.31,5.38,"2,744",631